<div class="col-md-5">
  <h3>Search results for "<span class="search-param"><%= search_param %></span>"</h3>
  <% food_search.each do |food| %>
    <table>
      <tr>
        <td class="stat-name">
          <%= food.name %>
        </td>
        <td class="stat-calories">
          <%= food.calories %>
        </td>
        <td class="add-food">
          <%= link_to add_user_food_path(current_user, food), method: 'post', remote: true do %>
              <span ><i class="glyphicon glyphicon-plus"></i></span>
            <% end %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
