<ul>
  <% @foods.each do |food| %>
    <li>
      <div class="col-md-6">

      <%= food.name %>
      </div>
      <div class="col-md-6">

      <%= food.calories %>
      </div>
    </li>
  <% end %>
</ul>
