$('#show-foods').append('<table>' +
                        '<tr>' +
                          '<td class="stat-name"><%= @food.name %></td>' +
                          '<td class="stat-calories"><%= @food.calories %></td>' +
                        '</tr>' +
                        '</table>');
$('#total-calories').text("<%= current_user.food_calories %>")
